<div class="container mt-5">
  <div class="row">
    <!-- Colonna sinistra per l'esperienza -->
    <div class="col-md-4">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Esperienza</h1>
      <div class="experience">
        <div class="logo">
          <img
            src="assets/img/logo esis.jpg"
            alt="Logo Azienda Esis"
            style="width: 80px"
          />
        </div>
        <div class="details">
          <h5>Esis</h5>
          <p>Periodo: Agosto 2023 - Presente</p>
          <p style="width: 190%">
            Sviluppo back-end utilizzando il framework Spring Boot e SQL, con un
            focus sulla creazione di API per gestire operazioni CRUD,
            supportando sia l'approccio REST che SOAP.
          </p>
        </div>
      </div>

      <div class="experience">
        <div class="logo">
          <img
            src="assets/img/bit.jpg"
            alt="Logo Azienda"
            style="width: 80px"
          />
        </div>
        <div class="details">
          <h5>
            Accademy Full Stack Developer (240 Ore) - bit Software Solution
          </h5>
          <p>Periodo: Giugno 2023 - Agosto 2023</p>
          <p style="width: 190%">Argomenti: (Angular , Java, SQL)</p>
        </div>
      </div>

      <div class="experience">
        <div class="logo">
          <img
            src="assets/img/logo partner data.jpg"
            alt="Logo Azienda"
            style="width: 100px"
          />
        </div>
        <div class="details">
          <h5>Partner Data</h5>
          <p>Periodo: Aprile 2023 - Maggio 2023</p>
          <p style="width: 190%">
            Durante la mia esperienza presso Partner Data, ho avuto
            l'opportunità di immergermi nel mondo del mobile e di acquisire
            conoscenze fondamentali di sviluppo Android utilizzando Android
            Studio e Java. Ho appreso i principali concetti e strumenti
            necessari per creare applicazioni Android di base.
          </p>
        </div>
      </div>

      <div class="experience">
        <div class="logo">
          <img
            src="assets/img/zucchetti.jpg"
            alt="Logo Azienda"
            style="width: 80px"
          />
        </div>
        <div class="details">
          <h5>Zucchetti</h5>
          <p>Periodo: Settembre 2021 - Dicembre 2022</p>
          <p style="width: 190%">
            Prima di unirmi al team di Zucchetti, ho seguito un corso intensivo
            della durata di 8 settimane, durante il quale ho acquisito
            conoscenze fondamentali di programmazione. Durante questo corso, ho
            studiato una vasta gamma di argomenti, tra cui JavaScript, SQL,
            Java, HTML, CSS, JavaScript, il ciclo di vita del software, Linux e
            Sitepainter. Inoltre, ho avuto l'opportunità di partecipare a vari
            progetti in team.

            Nel mio ruolo presso Zucchetti, il mio
            lavoro principale consisteva nell'aggiornare sistemi esistenti,
            risolvere bug e sviluppare nuove funzionalità su
            richiesta dei clienti, soprattutto clienti interni. In alcuni
            progetti, ho svolto l'analisi iniziale e ho sviluppato il progetto
            utilizzando il software aziendale SitePainter, che si basa
            su Java, JavaScript, CSS e Microsoft SQL. Dato che i
            progetti richiedevano l'accesso a dati provenienti da diverse fonti,
            ho collaborato attivamente con vari reparti aziendali, richiedendo
            informazioni sulle loro tabelle di database e sui loro sistemi, al
            fine di garantire un'efficace integrazione tra i sistemi. Una volta
            completato il progetto, ho eseguito test e debugging e ho redatto un
            documento tecnico del programma per l'archiviazione.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
