<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-16">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Chi sono?</h1>
      <p class="lead">
        Ciao, sono Zakaria, un appassionato sviluppatore full-stack con oltre un
        anno di esperienza nel mondo della programmazione. Ho iniziato la mia
        carriera come programmatore full-stack presso Zucchetti, dove ho avuto
        l'opportunità di lavorare su progetti complessi all'interno del team dei sistemi informativi.
        In seguito, ho intrapreso una breve esperienza come sviluppatore
        Android, ampliando così il mio repertorio di competenze. Durante il mio
        percorso professionale, ho riconosciuto l'importanza di rimanere
        aggiornato con le più recenti tecnologie e framework. Ho quindi deciso
        di dedicare del tempo a una formazione full time, dove ho approfondito
        le mie competenze in Spring Boot, Angular e MySQL. Attualmente, sono
        impiegato come Back-end Developer presso Esis, dove utilizzo Spring Boot
        e SQL per sviluppare soluzioni software scalabili e performanti. Sono
        sempre alla ricerca di nuove sfide e opportunità per espandere le mie
        competenze e contribuire a progetti stimolanti nel mondo dello sviluppo
        software.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-3">
      </div>
    </div>
  </div>
</div>
